@using PodoDemo.Models.InnerModels
@using Microsoft.AspNetCore.Http;
@model IEnumerable<MenuDisplay>

@{
    List<MenuDisplay> SubMenuDisplay = ViewBag.SubMenuList;
}

<link href="~/css/Menu.css" rel="stylesheet" />
<div class="menuList">
    <img src="~/images/Menu/logo.png" class="menuLogo" width="150" />
    @*<div class="menuLogo">로고 150 * 60 px</div>*@
    <div class="menuBlock">
        @{
            List<MenuDisplay> MenuList = Model.ToList<MenuDisplay>();
            <nav>
                <ul>
                    @for (int parentIndex = 0; parentIndex < MenuList.Count; parentIndex++)
                    {
                        <li>
                            <span>@MenuList[parentIndex].ParentMenuName</span>
                            <ul>
                                @for (int subIndex = 0; subIndex < SubMenuDisplay.Count; subIndex++)
                                {
                                    @if (MenuList[parentIndex].ParentMenuId.Equals(SubMenuDisplay[subIndex].ParentMenuId))
                                    {
                                        <li>
                                            <a href="@SubMenuDisplay[subIndex].MenuUrl">
                                                @SubMenuDisplay[subIndex].SubMenuName
                                            </a>
                                        </li>
                                    }
                                }
                            </ul>
                        </li>
                    }
                </ul>
            </nav>
        }
    </div>

    <div class="userInfo">
        <span class="userName">@ViewBag.UserName</span> 님
        <button type="button" class="logoutButton">로그아웃</button>
    </div>
</div>

<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" ></button>
            <a class="navbar-brand" href="#">포도CRM</a>
        </div>
    </div>
</nav>