@using PodoDemo.Models.InnerModels
@using Microsoft.AspNetCore.Http;
@model IEnumerable<MenuDisplay>

<link href="~/css/Menu.css" rel="stylesheet" />
<div class="menuList">
    <img src="~/images/Menu/logo.png" class="menuLogo" />

    <div class="menuBlock">
        @{
            List<MenuDisplay> MenuList = Model.ToList<MenuDisplay>();
            <nav>
                <ul>
                    @*오름차순으로 정렬하므로 맨 끝에 있는 대메뉴 번호(=메뉴개수) 만큼 출력한다.*@
                    @for (int parentIndex = 0; parentIndex < MenuList[MenuList.Count - 1].ParentMenuId; parentIndex++)
                    {
                        <li>
                            <span>@MenuList[parentIndex].ParentMenuName</span>
                            <ul>

                                @for (int i = 0; i < MenuList.Count; i++)
                                {
                                    @if (MenuList[parentIndex].ParentMenuId == MenuList[i].ParentMenuId)
                                    {
                                        <li>@MenuList[i].SubMenuName</li>
                                    }
                                }
                            </ul>
                        </li>
                    }
                </ul>
            </nav>
        }
    </div>

    <div class="userInfo">
        <span class="userName">@ViewBag.UserName</span> 님
        <button type="button" class="logoutButton">로그아웃</button>
    </div>
</div>