@using PodoDemo.Models.InnerModels
@using Microsoft.AspNetCore.Http;
@model IEnumerable<MenuDisplay>

@{
    List<MenuDisplay> SubMenuDisplay = ViewBag.SubMenuList;
    List<MenuDisplay> MenuList = Model.ToList<MenuDisplay>();
}

<script type="text/javascript">
    $(document).ready(function () {

        // 로그 아웃 버튼 클릭 시
        $("#logoutBtn").click(function () {

        });
    });
</script>

<nav class="navbar navbar-default">
    <div class="container-nav">

        @*
            CSS 수정 시 variables.less / dropdowns.less / navbar.less 수정
            NPM CMD로 부트스트랩 폴더 까지 들어가서(Grunt.js 있는 곳)
            GRUNT WATCH 명령어 치면 태스크 돌면서 변경 시 자동으로 컴파일
        *@

        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">PodoCRM</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">

                @for (int parentIndex = 0; parentIndex < MenuList.Count; parentIndex++)
                {
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">@MenuList[parentIndex].ParentMenuName <span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            @for (int subIndex = 0; subIndex < SubMenuDisplay.Count; subIndex++)
                            {
                                @if (MenuList[parentIndex].ParentMenuId.Equals(SubMenuDisplay[subIndex].ParentMenuId))
                                {
                                    <li>
                                        <a href="@SubMenuDisplay[subIndex].MenuUrl">
                                            @SubMenuDisplay[subIndex].SubMenuName
                                        </a>
                                    </li>
                                }
                            }
                        </ul>
                    </li>
                }
            </ul>
            <form class="navbar-form navbar-left" role="search">
                <button type="button" id="logoutBtn" class="btn btn-default">로그아웃</button>
            </form>

        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>