@model PodoDemo.Models.Account

@{
    ViewData["Title"] = "Create";
    List<string> propertyList = ViewBag.AccountPropertyList;
    List<string> propertyTypeList = ViewBag.AccountPropertyTypeList;
}

<div class="View">
    <div class="ViewTitle">
        <span>Create Account</span>
    </div>
    <div class="ViewContent">
        <form action="/Accounts/Create" method="post">
            <table>
                <tr>
                    <td class="tableLabelTD">
                        <span>CompanyName</span>
                    </td>
                    <td class="tableInputTD">
                        <input type="text" class="inputType" />
                    </td>
                    <td class="tableLabelTD">
                        <span>Tel</span>
                    </td>
                    <td class="tableInputTD">
                        <input type="tel" class="inputType" />
                    </td>
                    <td class="tableLabelTD">
                        <span>Fax</span>
                    </td>
                    <td class="tableInputTD">
                        <input type="tel" class="inputType" />
                    </td>
                </tr>
                <tr>
                    <td class="tableLabelTD">
                        <span>HomePage</span>
                    </td>
                    <td class="tableInputTD">
                        <input type="text" class="inputType" />
                    </td>
                    <td class="tableLabelTD">
                        <span>CEO</span>
                    </td>
                    <td class="tableInputTD">
                        <input type="text" class="inputType" />
                    </td>
                    <td class="tableLabelTD">
                        <span>Biz No.</span>
                    </td>
                    <td class="tableInputTD">
                        <input type="text" class="inputType" />
                    </td>
                </tr>
                <tr>
                    <td class="tableLabelTD">
                        <span>Founded Date</span>
                    </td>
                    <td class="tableInputTD">
                        <input type="date" class="inputType" />
                    </td>
                    <td class="tableLabelTD">
                        <span> Detail</span>
                    </td>
                    <td class="tableInputTD" colspan="3">
                        <div class="inputDiv" contenteditable="true"></div>
                    </td>
                </tr>
                <tr>
                    <td class="tableLabelTD"></td>
                    <td class="tableInputTD"></td>
                    <td class="tableLabelTD"></td>
                    <td class="tableInputTD"></td>
                    <td class="tableLabelTD"></td>
                    <td class="tableInputTD"></td>
                </tr>
            </table>
            <div class="ControlButtonArea">
                <button type="submit">Create an Account</button>
                <a href="/Accounts/Index">Back to List</a>
            </div>
        </form>
    </div>
</div>