@model string

@{
    ViewData["Title"] = "Account";
}
<script type="text/javascript">
    $(document).ready(function () {
        SetBasicElement();
        // 검색 조건 키 / 적용할 HTML코드 ID / 콜백함수 / 기본 선택 값 / 전체 / 맨위값 빈값 / 권한
        GetOptionDDL('1', 'accountCustomerType', SetoptionTag, '', true, false, false);

        $('#accountList').on('rowdoubleclick', function (event) {
            var args = event.args;
            // row's bound index.
            var boundIndex = args.rowindex;
            // row's visible index.
            var visibleIndex = args.visibleindex;
            // right click.
            var rightclick = args.rightclick;
            // original event.
            var ev = args.originalEvent;
            console.log("Row  정보");
            console.log(boundIndex);
            var data = $('#accountList').jqxGrid('getrowdata', boundIndex);
            console.log(data.Accountid);

            location.href = "/Accounts/Edit/" + data.Accountid;
        });
    });

    // 기본 출력 항목 표시
    function SetBasicElement() {
        var source =
            {
                localdata: @Html.Raw(Model),
                datatype: "json",
                datafields:
                [
                    { name: 'Accountid', type: 'number' },
                    { name: 'Name', type: 'string' },
                    { name: 'BizNum', type: 'string' },
                    { name: 'Phone', type: 'string' },
                    { name: 'Address', type: 'string' }
                    //{ name: 'ContactCount', type: 'number' },
                    //{ name: 'ProgressBusinessCount', type: 'number' },
                    //{ name: 'EndBusinessCount', type: 'number' },
                    //{ name: 'SalesCount', type: 'number' },
                    //{ name: 'ServiceCount', type: 'number' },
                    //{ name: 'ActivityCount', type: 'number' },
                    // Service를 이용해서 받아오는 값의 형식 설정
                    //{ name: 'BizTypeText', type: 'string' },
                    //{ name: 'CustomerTypeText', type: 'string' }
                ]
            };

        var dataAdapter = new $.jqx.dataAdapter(source);

        $("#accountList").jqxGrid(
            {
                width: '100%',
                source: dataAdapter,
                pageable: true,
                autoheight: true,
                autorowheight: true,
                sortable: true,
                altrows: true,
                enabletooltips: true,
                editable: false,
                selectionmode: 'singlerow',
                pagesizeoptions: [10, 15, 20, 25, 30, 35, 40, 45, 50],
                //showfilterrow: true,
                filterable: true,
                pagesize: 15,
                //theme: "MetroCustom",//테마설정
                columnsheight: '40px',//헤더 높이 설정
                //localization: getLocalization('ko-KR'),
                columns: [
                    //문자로 나오는 항목
                    { text: "Accountid", datafield: "Accountid", hidden: true, align: 'center', cellsalign: 'center' },
                    { text: "Name", datafield: "Name", align: 'center', cellsalign: 'left', width: '95%' },
                    //{ text: '사업자번호', datafield: 'BizNum', align: 'center', cellsalign: 'center', width: 100 },
                    { text: "Phone", datafield: "Phone", align: 'center', cellsalign: 'center', width: '5%' }
                    //{ text: '주소', datafield: 'Address', align: 'center', cellsalign: 'center' }
                    //{ text: 'Maker', datafield: 'MainProduct', align: 'center', cellsalign: 'center', width: 80 },
                    // 업종 (메인페이지 및 거래처 페이지 중단 GRID에 표시함)CustomerTypeText
                    //{ text: '업종', datafield: 'CustomerTypeText', align: 'center', cellsalign: 'center', width: 70, cellsrenderer: countCellRenderer6 },
                    // 고객 타입 (메인페이지 및 거래처 페이지 중단 GRID에 표시함)BizTypeText
                    //{ text: '고객타입', datafield: 'BizTypeText', align: 'center', cellsalign: 'center', width: 70, cellsrenderer: countCellRenderer7 },

                    //숫자로 나오는 항목
                    //{ text: '연락처', datafield: 'ContactCount', align: 'center', cellsalign: 'center', width: 80, cellsrenderer: countCellRenderer1 },
                    //{ text: '영업기회', datafield: 'ProgressBusinessCount', align: 'center', cellsalign: 'center', width: 80, cellsrenderer: countCellRenderer2 },
                    //{ text: '영업기회(종료)', datafield: 'EndBusinessCount', align: 'center', cellsalign: 'center', width: 110, cellsrenderer: countCellRenderer3 },
                    //{ text: 'Order정보', datafield: 'SalesCount', align: 'center', cellsalign: 'center', width: 80, cellsrenderer: countCellRenderer3 },
                    //{ text: '서비스', datafield: 'ServiceCount', align: 'center', cellsalign: 'center', width: 80, cellsrenderer: countCellRenderer4 },
                    //{ text: '활동', datafield: 'ActivityCount', align: 'center', cellsalign: 'center', width: 80, cellsrenderer: countCellRenderer5 }
                ]
            });
    }
</script>

<div class="View">
    <div class="container-fluid custom-container">
        <div class="row">
            <div class="col-md-12 custom-header">
                <p class="text-left">거래처 목록</p>
            </div>
        </div>

        <form class="form-horizontal custom-form">
            <div class="form-group">
                <label class="col-sm-2 control-label">회사명</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" placeholder="회사명" />
                </div>

                <label class="col-sm-2 control-label">전화번호</label>
                <div class="col-sm-2">
                    <input type="text" class="form-control" placeholder="전화번호" />
                </div>

                <label class="col-sm-2 control-label">고객타입</label>
                <div class="col-sm-2">
                    <select id="accountCustomerType" class="form-control"></select>
                </div>
            </div>
        </form>

        <div class="row">
            <div class="col-md-12">
                <div class="custom-title">
                    <span>상세 내용</span>
                </div>
                <div id="accountList"></div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-offset-10 col-md-2">
                <a href="/Accounts/Create" class="btn custom-btn custom-btn-save">거래처 생성</a>
            </div>
        </div>
    </div>



    @*<div class="ViewTitle">
        <span>거래처 목록</span>
    </div>
    <div class="SearchCondition">
        <table>
            <tr>
                <td class="LabelTD"></td>
                <td class="InputTD"></td>
                <td class="LabelTD"></td>
                <td class="InputTD"></td>
                <td class="LabelTD"></td>
                <td class="InputTD"></td>
                <td class="LabelTD">
                    <span class="SearchLabel">업종</span>
                </td>
                <td class="InputTD">
                    <input type="text" class="SearchInput" />
                </td>
            </tr>
            <tr>
                <td colspan="8">
                    <button type="button" class="SearchButton">검색</button>
                </td>
            </tr>
        </table>
    </div>
    <div class="ViewContent">
        <div id="accountList"></div>
    </div>

    <div class="ControlButtonArea">
        <a href="/Accounts/Create">생성</a>
    </div>*@

</div>

