* {
    font-family: 'Malgun Gothic';
}

html, body {
    margin: 0 auto;
}

.RenderView {
    background-color: #f9f9f9;
}



.View {
    /*width: 1330px;*/
    background-color: white;
    /*text-align: center;*/
    margin-left: auto;
    margin-right: auto;
}

    .View .SearchCondition {
        margin: 15px;
        /*border: 1px solid #b4b4b4;*/
    }

        .View .SearchCondition table {
            width: 100%;
            border-spacing: 0px 0px;
            border-collapse: collapse;
        }

    .View .ViewContent {
        text-align: center;
        margin: 15px;
    }

        .View .ViewContent .ViewSubTitle {
            float: left;
            font-weight: bold;
            margin-bottom: 5px;
        }

.LabelTD {
    width: 12.5%;
    background-color: #474747;
    color: white;
}


/* 검색 조건 테이블 */
.SearchLabel {
    text-align: center;
}

.InputTD {
    width: 12.5%;
}

.SearchInput {
    width: 100%;
    box-sizing: border-box;
}

.SearchButton {
    float: right;
    text-align: center;
    border: none;
    width: 160px;
    height: 25px;
    color: white;
    font-size: 15px;
    padding: 0px;
    background-color: #2588EA;
}

    .SearchButton:hover {
        cursor: pointer;
        color: #796d6d;
    }

/* 각 페이지 별 제목 */
.ViewTitle {
    background-color: #474747;
    height: 45px;
    text-align: left;
    /*border-radius: 5px 5px 0px 0px;*/
    color: white;
    vertical-align: middle;
    line-height: 45px;
}

    .ViewTitle span {
        font-weight: bold;
    }

/* 메인 폼, 테이블 */
.ViewContent form {
    margin-left: auto;
    margin-right: auto;
}

    .ViewContent form .ContentTable {
        border: 1px solid #d1d1d1;
        width: 100%;
        border-collapse: collapse;
    }

/* 테이블 내부 제목 부분 */
.ViewContent .tableLabelTD {
    background-color: #EEF7FF;
    border: 1px solid #d1d1d1;
    width: 150px;
}

.tableLabelTD .requireField {
    color: red;
    font-weight: bold;
}

/* 테이블 내부 사용자 입력 부분 */
.ViewContent .tableInputTD {
    border: 1px solid #d1d1d1;
}

.tableInputTD .inputType {
    width: 80%;
    text-align: left;
    float: left;
}

.tableInputTD .inputLabel {
    width: 80%;
    text-align: center;
    float: left;
}

.tableInputTD .inputDiv {
    width: 80%;
    text-align: left;
    float: left;
    border: 1px solid #d1d1d1;
}

/* 각 페이지 별 저장/목록 등 버튼 영역 */
.ControlButtonArea {
    float: right;
    text-align: center;
    /*width:100%;*/
}

    .ControlButtonArea a {
        border: none;
        text-decoration: none;
        background-color: #2588EA;
        color: white;
        display: block;
        width: 150px;
        padding: 0px;
        margin: 0px;
    }

    .ControlButtonArea button {
        border: none;
        background-color: #2588EA;
        font-size: 15px;
        color: white;
        width: 150px;
        padding: 0px;
        margin: 0px;
    }

        .ControlButtonArea button:hover {
            cursor: pointer;
        }


.custom-jqx-grid-btn {
    height: 100%;
    width: 100%;
    border: none;
    background-color: #EEF7FF;
}
