* {
    font-family: 'Malgun Gothic';
}

html, body {
    margin: 0 auto;
}

.RenderView {
    background-color: #f9f9f9;
}

.ViewTitle {
    background-color: #474747;
    height: 45px;
    text-align: left;
    /*border-radius: 5px 5px 0px 0px;*/
    color: white;
    vertical-align: middle;
    line-height: 45px;
}

    .ViewTitle span {
        margin-left: 20px;
        font-weight: bold;
    }

.View {
    width: 1330px;
    background-color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

    .View .SearchCondition {
        margin: 15px;
        /*border: 1px solid #b4b4b4;*/
    }

        .View .SearchCondition table {
            width: 100%;
            border-spacing: 0px 0px;
            border-collapse: collapse;
        }

    .View .ViewContent {
        text-align: center;
        margin-left: 15px;
        margin-right: 15px;
        margin-bottom: 15px;
    }

.LabelTD {
    width: 12.5%;
    background-color: #474747;
    color: white;
}

.SearchLabel {
    text-align: center;
}

.InputTD {
    width: 12.5%;
}

.SearchInput {
    width: 100%;
    box-sizing: border-box;
}


.SearchButton {
    float: right;
    text-align: center;
    border: none;
    width: 160px;
    height: 25px;
    color: white;
    font-size: 15px;
    padding: 0px;
    background-color: #2588EA;
}

    .SearchButton:hover {
        cursor: pointer;
        color: #796d6d;
    }
