.menuList {
    width: 100%;
    height: 78px;
    margin: 0 auto;
    background-color: #2588EA;
}

    .menuList .menuLogo {
        float: left;
        width: 184px;
        min-width: 184px;
        line-height: 78px;
        margin-right: 20px;
    }

    .menuList .menuBlock {
        float: left;
        /*width: 70%;*/
    }

    .menuList .userInfo {
        float: right;
        width: 300px;
        color: white;
        line-height:78px;
        text-align:center;
    }


.menuBlock nav ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

    .menuBlock nav ul li {
        border-right: 1px solid white;
        border-left: 1px solid white;
        margin-left: -1px;
        margin-right: -1px;
        color: white;
        text-align: center;
        position: relative;
        line-height: 78px;
        width: 100px;
    }

        .menuBlock nav ul li:hover {
            cursor: pointer;
            /*color: red;*/
            color: orangered;
        }

            .menuBlock nav ul li:hover ul {
                z-index: 999999999;
                display: block;
            }

        .menuBlock nav ul li ul {
            position: absolute;
            overflow: hidden;
            display: none;
            background-color: #2588EA;
            border-right: 1px solid white;
            border-left: 1px solid white;
            margin-left: -1px;
            margin-right: -1px;
        }


.userInfo .userName {
    font-weight: bold;
    line-height:78px;
    font-size:30px;
    /*vertical-align:middle;*/
}

.userInfo .logoutButton {
    color: white;
    background-color: #2588EA;
    border: 1px solid white;
    height: 40px;
}

    .userInfo .logoutButton:hover {
        /*background-color: #FFFFFF;*/
        border: 1px solid orangered;
        color: orangered;
        cursor: pointer;
    }
