
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>포도CRM</title>
    <link rel="shortcut icon" type="image/x-icon" href="~/images/favicon.ico" />

    <script src="~/js/jquery-3.2.1.min.js"></script>
    <link href="~/css/LoginPage.css" rel="stylesheet" />

    @*부트 스트랩*@
    <script src="~/bootstrap332/dist/js/bootstrap.js"></script>
    <link href="~/bootstrap332/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/Layout_BootstrapCustom.css" rel="stylesheet" />

    <script type="text/javascript">
        $(document).ready(function () {            

            $("#LoginButton").click(function () {
                var id = $("#userID").val();
                var pw = $("#userPW").val();

                if (id == undefined || id == "" || id == null) {
                    alert("아이디를 확인하세요.");
                    return;
                }

                if (pw == undefined || pw == "" || pw == null) {
                    alert("비밀번호를 확인하세요.");
                    return;
                }

                $("#loginForm").prop("action", "/Home/CheckUser");
                $("#loginForm").prop("method", "post");
                $("#loginForm").submit();
            });
        });


        function OnKeyDown(elementId) {
            if (event.keyCode == 13) {
                $("#" + elementId).trigger('click');
            }
        }
    </script>
</head>
<body>

    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <img src="~/images/Login/login_logo.png" class="img-responsive center-block" alt="로고" />
            </div>
        </div>

        <form id="loginForm" class="form-horizontal loginForm">
            <div class="form-group">
                <label class="col-sm-2 control-label">조직</label>
                <div class="col-sm-10">
                    <input type="text" id="org" name="org" class="form-control" placeholder="조직" />
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">이메일</label>
                <div class="col-sm-10">
                    <input type="text" id="userID" name="useriD" class="form-control" placeholder="아이디" onkeydown="OnKeyDown(this.id)" />
                </div>
            </div>

            <div class="form-group">
                <label class="col-sm-2 control-label">비밀번호</label>
                <div class="col-sm-10">
                    <input type="password" id="userPW" name="userPW" class="form-control" placeholder="비밀번호" onkeydown="OnKeyDown(this.id)" />
                </div>
            </div>

            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" id="LoginButton" class="btn btn-default loginButton">로그인</button>
                </div>
            </div>
        </form>

        @*<div class="row">
            <div class="col-sm-3">
                상호명 : 트루인포 | 사업자등록번호 : 119-86-17769 |
            </div>
            <div class="col-sm-3">                
                대표자 : 신수원 | 전화번호 : 070-8231-4590 | 팩스번호 : 02-6008-3199
            </div>
            <div class="col-sm-3">
                주소 : 서울특별시 금천구 서부샛길 606, 디폴리스 B동 1309호
            </div>
            <div class="col-sm-3">
                Copyrights(c) @DateTime.Now.Year, trueinfo.All rights reserved.
            </div>
        </div>*@
    </div>

</body>
</html>
