@{
    ViewData["Title"] = "Menu";
}

<script type="text/javascript">
    var mainmenuId = -1;

    $(document).ready(function () {
        SetMainmenulist();
        $("#SubmenuArea").hide();

        $('#mainMenuList').on('rowdoubleclick', function (event) {
            var args = event.args;
            // row's bound index.
            var boundIndex = args.rowindex;
            // row's visible index.
            var visibleIndex = args.visibleindex;
            // right click.
            var rightclick = args.rightclick;
            // original event.
            var ev = args.originalEvent;

            $("#SubmenuArea").show();

            var data = $('#mainMenuList').jqxGrid('getrowdata', boundIndex);

            mainmenuId = data.Id;

            var submenulist
                = ExecuteAjax("POST", "/Manage/GetSubmenulist", "json", "application/json", JSON.stringify(data.Id));
            SetSubmenulist(submenulist);

        });
    });
    // 대메뉴 표시
    function SetMainmenulist() {
        var source =
            {
                localdata: @Html.Raw(ViewBag.MainMenuList),
                datatype: "json",
                datafields:
                [
                    { name: 'Id', type: 'number' },
                    { name: 'Name', type: 'string' },
                    { name: 'Order', type: 'number' },
                    { name: 'Isused', type: 'string' }
                    //{ name: 'Address', type: 'string' }
                ]
            };

        var dataAdapter = new $.jqx.dataAdapter(source);

        $("#mainMenuList").jqxGrid(
            {
                width: '100%',
                source: dataAdapter,
                pageable: true,
                autoheight: true,
                autorowheight: true,
                sortable: true,
                altrows: true,
                enabletooltips: true,
                editable: false,
                selectionmode: 'singlerow',
                pagesizeoptions: [10, 15, 20, 25, 30, 35, 40, 45, 50],
                //showfilterrow: true,
                filterable: true,
                pagesize: 15,
                theme: "metroCustom",//테마설정
                //columnsheight: '40px',//헤더 높이 설정
                localization: GetLocalizationString(),
                columns: [
                    //문자로 나오는 항목
                    { text: "ID", datafield: "Id", align: 'center', cellsalign: 'center', width: "10%", minwidth: '30px' },
                    { text: "이름", datafield: "Name", align: 'center', cellsalign: 'center', width: "40%", minwidth: '200px'},
                    { text: "순서", datafield: "Order", align: 'center', cellsalign: 'center', width: "10%", minwidth: '30px' },
                    { text: "사용여부", datafield: "Isused", align: 'center', cellsalign: 'center', width: "20%, minwidth: '100px'" },
                    {
                        text: '수정', datafield: 'Address', align: 'center', cellsalign: 'center', width: '20%', minwidth: '100px', columntype: 'button', cellsrenderer: function () {
                            return "수정";
                        }, buttonclick: function (row) {
                            // get the clicked row's data and initialize the input fields.
                            var dataRecord = $("#mainMenuList").jqxGrid('getrowdata', row);
                            // 버튼 클릭 시 메뉴 수정으로 이동
                            WindowOpenScroll("/Manage/MenuEdit/" + dataRecord.Id + "?isPop=true", "", 350, 600, 100, 100);
                        }
                    }
                ]
            });
    }

    // 세부메뉴 수정
    function SetSubmenulist(result) {
         var source =
            {
                localdata: result,
                datatype: "Array",
                datafields:
                [
                    { name: 'Id', type: 'string' },
                    { name: 'Name', type: 'string' },
                    { name: 'Order', type: 'number' },
                    { name: 'Isused', type: 'number' },
                    { name: 'Mainmenuid', type: 'string' }
                ]
            };

         var dataAdapter = new $.jqx.dataAdapter(source);

        $("#subMenuList").jqxGrid(
            {
                width: '100%',
                source: dataAdapter,
                pageable: true,
                autoheight: true,
                autorowheight: true,
                sortable: true,
                altrows: true,
                enabletooltips: true,
                editable: false,
                selectionmode: 'singlerow',
                pagesizeoptions: [10, 15, 20, 25, 30, 35, 40, 45, 50],
                //showfilterrow: true,
                filterable: true,
                pagesize: 15,
                theme: "metroCustom",//테마설정
                localization: GetLocalizationString(),
                columns: [
                    { text: "대메뉴아이디", datafield: "Mainmenuid", hidden:true },
                    { text: "ID", datafield: "Id", align: 'center', cellsalign: 'center', width: "10%", minwidth: '30px' },
                    { text: "이름", datafield: "Name", align: 'center', cellsalign: 'center', width: "40%", minwidth: '200px' },
                    { text: "순서", datafield: "Order", align: 'center', cellsalign: 'center', width: "10%", minwidth: '30px' },
                    { text: "사용여부", datafield: "Isused", align: 'center', cellsalign: 'center', width: "20%", minwidth: '100px' },
                    {
                        text: '수정', datafield: 'Address', align: 'center', cellsalign: 'center', width: '20%', minwidth: '100px', columntype: 'button', cellsrenderer: function () {
                            return "수정";
                        }, buttonclick: function (row) {
                            // get the clicked row's data and initialize the input fields.
                            var dataRecord = $("#subMenuList").jqxGrid('getrowdata', row);
                            // 버튼 클릭 시 상세 메뉴 수정으로 이동
                            WindowOpenScroll("/Manage/SubmenuEdit/" + dataRecord.Id + "?isPop=true&mainMenuid=" + mainmenuId, "", 350, 700, 100, 100);
                        }
                    }
                ]
            });
    }

    // 생성 페이지 
    function SubmenuCreate() {
        WindowOpenScroll('/Manage/SubmenuCreate?isPop=true&mainMenuid=' + mainmenuId, '', 350, 600, 100, 100);
    }
    function MenuCreate() {
        WindowOpenScroll('/Manage/MenuCreate?isPop=true', '', 350, 600, 100, 100);
    }
</script>

<div class="View">
    <div class="container">
        <div class="row">
            <div class="col-md-12 custom-header">
                <p class="text-left">
                    메뉴 관리
                </p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="custom-title">
                    <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                    <span>대메뉴</span>
                </div>
                <div id="mainMenuList"></div>
                <br />
                <button onclick="MenuCreate();" class="btn btn-default">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    대메뉴 생성
                </button>
            </div>
            <hr class="visible-xs-block"/>
            <div class="col-md-6" id="SubmenuArea">
                <div class="custom-title">
                    <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
                    <span>세부 설정</span>
                </div>
                <div id="subMenuList"></div>
                <br />
                <button onclick="SubmenuCreate();" class="btn btn-default">
                    <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    세부메뉴 생성
                </button>
            </div>
        </div>
    </div>
</div>