@{
    ViewData["Title"] = "Menu";
}

<script type="text/javascript">
    $(document).ready(function () {
        SetMainmenulist();

        $('#mainMenuList').on('rowdoubleclick', function (event) {
            var args = event.args;
            // row's bound index.
            var boundIndex = args.rowindex;
            // row's visible index.
            var visibleIndex = args.visibleindex;
            // right click.
            var rightclick = args.rightclick;
            // original event.
            var ev = args.originalEvent;

            var data = $('#mainMenuList').jqxGrid('getrowdata', boundIndex);
            var dataId = new Object();
            dataId.Id = data.Id;
            var submenulist
                = ExecuteAjax("POST", "/Manage/GetSubmenulist", "json", "application/json", JSON.stringify(data.Id));
            //console.log("상세메뉴목록");
            //console.log(submenulist);
            SetSubmenulist(submenulist);

        });
    });
    // 대메뉴 표시
    function SetMainmenulist() {
        var source =
            {
                localdata: @Html.Raw(ViewBag.MainMenuList),
                datatype: "json",
                datafields:
                [
                    { name: 'Id', type: 'number' },
                    { name: 'Name', type: 'string' },
                    { name: 'Order', type: 'number' },
                    { name: 'Isused', type: 'string' }
                    //{ name: 'Address', type: 'string' }
                ]
            };

        var dataAdapter = new $.jqx.dataAdapter(source);

        $("#mainMenuList").jqxGrid(
            {
                width: '100%',
                source: dataAdapter,
                pageable: true,
                autoheight: true,
                autorowheight: true,
                sortable: true,
                altrows: true,
                enabletooltips: true,
                editable: false,
                selectionmode: 'singlerow',
                pagesizeoptions: [10, 15, 20, 25, 30, 35, 40, 45, 50],
                //showfilterrow: true,
                filterable: true,
                pagesize: 15,
                //theme: "MetroCustom",//테마설정
                columnsheight: '40px',//헤더 높이 설정
                //localization: getLocalization('ko-KR'),
                columns: [
                    //문자로 나오는 항목
                    { text: "ID", datafield: "Id", align: 'center', cellsalign: 'center', width: "10%" },
                    { text: "이름", datafield: "Name", align: 'center', cellsalign: 'center', width: "40%" },
                    { text: "순서", datafield: "Order", align: 'center', cellsalign: 'center', width: "10%" },
                    { text: "사용여부", datafield: "Isused", align: 'center', cellsalign: 'center', width: "20%" },
                    {
                        text: '수정', datafield: 'Address', align: 'center', cellsalign: 'center', width: '20%', columntype: 'button', cellsrenderer: function () {
                            return "수정";
                        }, buttonclick: function (row) {
                            // get the clicked row's data and initialize the input fields.
                            var dataRecord = $("#mainMenuList").jqxGrid('getrowdata', row);
                            WindowOpenScroll("/Manage/MenuEdit/" + dataRecord.Id + "?isPop=true", "", 350, 600, 100, 100);
                        }
                    }
                ]
            });
    }

    // 세부메뉴 수정
    function SetSubmenulist(result) {
        //$('#subMenuList').html("<div id='subMenuList'></div>");
         var source =
            {
                localdata: result,
                datatype: "Array",
                datafields:
                [
                    { name: 'Id', type: 'string' },
                    { name: 'Name', type: 'string' },
                    { name: 'Order', type: 'number' },
                    { name: 'Isused', type: 'number' },
                    { name: 'Mainmenuid', type: 'string' }
                ]
            };

         var dataAdapter = new $.jqx.dataAdapter(source);

        $("#subMenuList").jqxGrid(
            {
                width: '100%',
                source: dataAdapter,
                pageable: true,
                autoheight: true,
                autorowheight: true,
                sortable: true,
                altrows: true,
                enabletooltips: true,
                editable: false,
                selectionmode: 'singlerow',
                pagesizeoptions: [10, 15, 20, 25, 30, 35, 40, 45, 50],
                //showfilterrow: true,
                filterable: true,
                pagesize: 15,
                //theme: "MetroCustom",//테마설정
                columnsheight: '40px',//헤더 높이 설정
                //localization: getLocalization('ko-KR'),
                columns: [
                    //문자로 나오는 항목
                    { text: "대메뉴아이디", datafield: "Mainmenuid", align: 'center', cellsalign: 'center' },
                    { text: "ID", datafield: "Id", align: 'center', cellsalign: 'center', width: "10%" },
                    { text: "이름", datafield: "Name", align: 'center', cellsalign: 'center', width: "40%" },
                    { text: "순서", datafield: "Order", align: 'center', cellsalign: 'center', width: "10%" },
                    { text: "사용여부", datafield: "Isused", align: 'center', cellsalign: 'center', width: "20%" },
                    {
                        text: '수정', datafield: 'Address', align: 'center', cellsalign: 'center', width: '20%', columntype: 'button', cellsrenderer: function () {
                            return "수정";
                        }, buttonclick: function (row) {
                            // get the clicked row's data and initialize the input fields.
                            var dataRecord = $("#subMenuList").jqxGrid('getrowdata', row);
                            WindowOpenScroll("/Manage/SubmenuEdit/" + dataRecord.Id + "?isPop=true", "", 800, 500, 100, 100);
                        }
                    }
                ]
            });
    }

    // 세부메뉴생성 페이지로 이동
    function SubmenuCreate() {
        WindowOpenScroll('/Manage/SubmenuCreate?isPop=true&mainMenuid=', '', 350, 600, 100, 100);
    }
</script>

<div class="View">
    <div class="container-fluid custom-container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2 custom-header">
                <p class="text-left">메뉴 관리</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4 col-md-offset-2">
                <div class="custom-title">
                    <span>대메뉴</span>
                </div>
                <div id="mainMenuList"></div>
                <br />
                <button onclick="WindowOpenScroll('/Manage/MenuCreate?isPop=true', '', 350, 600, 100, 100);" class="btn custom-btn custom-btn-save">대메뉴 생성</button>
            </div>
            <div class="col-md-4">
                <div class="custom-title">
                    <span>세부 메뉴</span>
                </div>
                <div id="subMenuList"></div>
                <br />
                <button onclick="SubmenuCreate();" class="btn custom-btn custom-btn-save">세부메뉴 생성</button>
            </div>
        </div>
    </div>
</div>