@model PodoDemo.Models.Menu

@{
    Layout = "";
}

<h2>메뉴 수정 창</h2>

<h4>@Model.Name</h4>

<span>이름</span>
<input type="text" id="Name" name="Name" value="@Model.Name" placeholder="대메뉴 이름"/>

<span>순서</span>
<input type="number" id="Order" name="Order" value="@Model.Order" placeholder="대메뉴 순서" />

<span>사용여부</span>
<span>@Model.Isused</span>