@{
    //팝업일 경우 레이아웃은 팝업 전용으로 변경 아닐 경우 메뉴가 포함된 기본 레이아웃
    if (ViewBag.isPop)
    {
        Layout = "~/Views/Shared/Popup_Layout.cshtml";
    }
    
    bool isPop = ViewBag.isPop;
}

<link href="~/css/Layout_BootstrapCustom.css" rel="stylesheet" />
<script type="text/javascript">
    $(document).ready(function () {
    
    });

    // 메뉴 수정 내용 저장
    function SubmitForm() {
        // 유효성 검사 후 진행
        //if (ValidateForm()) {
        //    $("#Founddate").val($('#jqdatetimeinput_founddate').jqxDateTimeInput('getText'));
        //    $("#Detail").val($("#tempDetail").html());
        //}

        $("#MenuCreateForm").prop("action", "/Manage/MenuCreate");
        $("#MenuCreateForm").prop("method", "post");
        $("#MenuCreateForm").submit();
    }
</script>

<div class="container custom-container">
    <div class="custom-header">
        <span>대메뉴 생성</span>
    </div>

    <form id="MenuCreateForm">
        <input type="hidden" id="IsPop" name="IsPop" value="@Html.Raw(isPop)" />

        <div class="row">
            <div class="col-sm-4 custom-title">
                <span>이름</span>
            </div>
            <div class="col-sm-8 custom-input">
                <input type="text" id="Name" name="Name"
                       class="form-control"
                       placeholder="대메뉴 이름" />
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4 custom-title">
                <span>순서</span>
            </div>
            <div class="col-sm-8 custom-input">
                <input type="number" id="Order" name="Order"
                       class="form-control"
                       placeholder="대메뉴 순서" />
            </div>
        </div>

        <div class="row">
            <div class="col-sm-4 custom-title">
                <span>사용여부</span>
            </div>
            <div class="col-sm-8 custom-input">
                <label class="radio-inline">
                    <input type="radio" id="Isused_T" name="Isused" value="true" />예
                </label>

                <label class="radio-inline">
                    <input type="radio" id="Isused_F" name="Isused" value="false" />아니오
                </label>

            </div>
        </div>

        @*<div class="row">
            <div class="col-sm-4 custom-title">
                <span>삭제여부</span>
            </div>
            <div class="col-sm-8 custom-input">
                <label class="radio-inline">
                    <input type="radio" id="Isdeleted_T" name="Isdeleted" value="true" />예
                </label>
                <label class="radio-inline">
                    <input type="radio" id="Isdeleted_F" name="Isdeleted" value="false" />아니오
                </label>
            </div>
        </div>*@

        <hr />

        <div class="row">
            <div class="col-sm-12">
                <button type="button" class="btn custom-btn custom-btn-save" onclick="SubmitForm();">저장</button>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-12">
                <button type="button" class="btn custom-btn custom-btn-close" onclick="window.close();">닫기</button>
            </div>
        </div>
    </form>
</div>