
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - 포도CRM</title>
    <script src="~/js/jquery-3.2.1.min.js"></script>

    <link href="~/css/Layout.css" rel="stylesheet" />

    <script src="~/js/jqwidgets/jqx-all.js"></script>
    <link href="~/js/jqwidgets/styles/jqx.base.css" rel="stylesheet" />

    <script type="text/javascript">
        $(document).ready(function () {
            SetRenderViewHeight();
        });

        function SetRenderViewHeight() {
            $("#RenderView").height(window.innerHeight - 78);
        }
    </script>

</head>
<body onresize="SetRenderViewHeight();">
    @*
        해당 사용자 권한에 맞는 메뉴 리스트 출력 View Component
        BackEnd : /ViewsComponents/MenuList.cs
        FrontEnd : /Views/Shared/Components/MenuList/Default.cshtml
        기존의 PartialView / RenderPartial / RenderAction 과 동일한 기능
    *@
    @await Component.InvokeAsync("MenuList")

    <div id="RenderView" class="RenderView">
        @RenderBody()
    </div>

</body>
</html>
