
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"] - 포도CRM</title>
    <link rel="shortcut icon" type="image/x-icon" href="~/images/favicon.ico" />

    @*공통 사용*@
    <script src="~/js/jquery-3.2.1.min.js"></script>

    @*JQWidget*@
    <script src="~/js/jqwidgets/jqx-all.js"></script>
    <link href="~/js/jqwidgets/styles/jqx.base.css" rel="stylesheet" />

    @*부트 스트랩*@    
    <script src="~/bootstrap332/dist/js/bootstrap.js"></script>
    <link href="~/bootstrap332/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/Layout_BootstrapCustom.css" rel="stylesheet" />

    @*커스텀 파일*@
    <link href="~/css/Layout.css" rel="stylesheet" />
    <script src="~/js/Common.js"></script>
    <script src="~/js/jqwidget-custom.js"></script>

    <script type="text/javascript">
        $(document).ready(function () {
            SetRenderViewHeight();
        });

        // 화면 사이즈 변경될 때 마다 배경 색 다시 채우기
        function SetRenderViewHeight() {
            $("#RenderView").height(window.innerHeight - 60);
        }
    </script>

</head>
<body onresize="SetRenderViewHeight();">
    @*
        해당 사용자 권한에 맞는 메뉴 리스트 출력 View Component
        BackEnd : /ViewsComponents/MenuList.cs
        FrontEnd : /Views/Shared/Components/MenuList/Default.cshtml
        기존의 PartialView / RenderPartial / RenderAction 과 동일한 기능
    *@
    @await Component.InvokeAsync("MenuList")


    <div id="RenderView" class="RenderView">
        @RenderBody()
    </div>

</body>
</html>
