<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewData["Title"] - 포도CRM</title>
    <link rel="shortcut icon" type="image/x-icon" href="~/images/favicon.ico" />

    @*공통 사용*@
    <script src="~/js/jquery-3.2.1.min.js"></script>

    @*JQWidget*@
    <script src="~/js/jqwidgets/jqx-all.js"></script>
    <link href="~/js/jqwidgets/styles/jqx.base.css" rel="stylesheet" />

    @*부트 스트랩*@
    <script src="~/js/bootstrap332/js/bootstrap.js"></script>
    <link href="~/js/bootstrap332/css/bootstrap.css" rel="stylesheet" />

    @*커스텀 파일*@
    <link href="~/css/Layout.css" rel="stylesheet" />
    <script src="~/js/Common.js"></script>
    <link href="~/css/Layout_BootstrapCustom.css" rel="stylesheet" />

</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
