@model PodoDemo.Models.Price

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<form asp-action="Create">
    <div class="form-horizontal">
        <h4>Price</h4>
        <hr />
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Productid" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <select asp-for="Productid" class ="form-control" asp-items="ViewBag.Productid"></select>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Prices" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Prices" class="form-control" />
                <span asp-validation-for="Prices" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Cost" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Cost" class="form-control" />
                <span asp-validation-for="Cost" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Currency" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Currency" class="form-control" />
                <span asp-validation-for="Currency" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Createdate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Createdate" class="form-control" />
                <span asp-validation-for="Createdate" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Createuser" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Createuser" class="form-control" />
                <span asp-validation-for="Createuser" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Modifydate" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Modifydate" class="form-control" />
                <span asp-validation-for="Modifydate" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Modifyuser" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Modifyuser" class="form-control" />
                <span asp-validation-for="Modifyuser" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Ownerid" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Ownerid" class="form-control" />
                <span asp-validation-for="Ownerid" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

